.box {
  width: 100%;
  border: 3px solid black;
  padding: 0rem;
  font-size: 5rem;
  text-align: left;
  position: relative;
  &:last-child {
    border-bottom: 6px solid black;
  }
  h2 {
    font-size: 5rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
  }
  p {
    margin-top: 0 auto;
  }
  &--flipside {
    background-color: black;
  }
}

@media only screen and (min-width: 375px) and (min-height: 812px),
  (min-width: 412px) {
  .box:last-child {
    border-bottom: 3px solid black;
  }
}
