.box {
  width: 100%;
  border: 3px solid black;
  padding: 0rem;
  font-size: 5rem;
  text-align: left;
  position: relative;
  &--notSelected,
  &--flipside--notSelected {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &:last-child {
    border-bottom: 6px solid black;
  }
  h2 {
    font-size: 5rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
  }
  p {
    margin-top: 0 auto;
  }
  &--flipside {
    background-color: black;
    cursor: pointer;
  }
  &--selected {
    border: none;
    border-bottom: 3px solid black;
  }
}

.downArrow {
  color: grey;
  opacity: 0;
}

// .box--notSelected:hover {
//   .downArrow {
//     opacity: 1;
//   }
// }

// @media only screen and (min-width: 375px) and (min-height: 812px),
//   (min-width: 411px) {
//   .box:last-child {
//     border-bottom: 3px solid black;
//   }
// }

@media only screen and (min-width: 415px) {
  .box--notSelected:hover {
    .downArrow {
      opacity: 1;
    }
  }
}

@media only screen and (min-height: 1024px) and (orientation: portrait) {
  .box {
    h2 {
      font-size: 7rem;
    }
  }
}

@media only screen and (min-height: 1366px) and (orientation: portrait) {
  .box {
    h2 {
      font-size: 9rem;
    }
  }
}
