.selectedTitle {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3px;
  // position: absolute;
  // top: 0;
  // width: 100vw;
}

.boxContent--body {
  margin: auto 0.5rem;
}

.principle_img {
  width: 100%;
}

.header {
  font-size: 2rem;
}

.status {
  font-size: 2rem;
  margin-bottom: 5rem;
}

.bio {
  font-size: 2rem;
  &Fr {
    margin-top: 5rem;
  }
}

.flipside {
  background-color: black;
  color: white;
}

.video {
  max-width: 100%;
  max-height: 100vw * 0.5625;
  margin: auto 0;
}

.text {
  margin-top: 0;
  font-size: 1.5rem;
}

.introText {
  margin-bottom: 0;
  font-size: 1.5rem;
  &:hover {
    font-style: italic;
    font-size: 1.6rem;
  }
}

.videoTitle {
  margin-top: 2rem;
  display: flex;
}

.button {
  font-size: 1.5rem;
  border: 1px solid black;
  color: black;
  background-color: white;
  &:hover {
    color: white;
    background-color: black;
  }
}

.contact {
  &--desktop {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .contact {
    &--desktop {
      display: block;
    }
    &--phone {
      display: none;
    }
  }
}
