.principle_img {
  width: 100%;
}

.header {
  font-size: 2rem;
}

.status {
  font-size: 2rem;
}

.bio {
  font-size: 2rem;
}

.flipside {
  background-color: black;
  color: white;
}

.video {
  max-width: 100%;
  max-height: 100vw * 0.5625;
  margin: auto 0;
}

.text {
  margin-top: 0;
  font-size: 1.5rem;
}
.introText {
  margin-bottom: 0;
  font-size: 1.5rem;
}

.videoTitle {
  font-size: 1.5rem;
}
